header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 50px;
    background-color: #0A0F1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 8px;
}
img.logo {
    width: 100px;
}
.header-btn {
    height: 34px;
    background-color: #ffffff;
    color: #000000;
}
.login-btn {
    padding: 8px 24px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: none;
    font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", "heisei-kaku-gothic-std", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(90deg, #86a0f3, #ecaaa1);
    color: #fff;
    transition: .1s;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }

    &:active {
        opacity: 0.8;
    }
}
.login-btn:first-child {
    margin-right: 6px;
}
