footer {
    box-sizing: border-box;
    height: 50px;
    background-color: #0A0F1C;
    color: #FFFFFF;
    font-size: 12px;
    display: grid;
    align-content: center;
    justify-content: center;
}