.plan-container {
    margin-top: 25px;
    padding: 0px 15px 15px 15px;
    border: 1px solid black
}
.current-plan {
    color: #050505;
}
.plans {
    overflow-x: auto;
    &-inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        min-width: 1100px;
    }
}
.mat-mdc-card {
    &-header {
        justify-content: center;
        text-align: center;
    }
    &-title {
        font-size: 24px;
    }
    &-subtitle {
        margin-top: 3px;
    }
    &-actions {
        margin-top: 12px;
        justify-content: center;
        text-align: center;
        .mdc-button {
            width: 150px;
            letter-spacing: 3px;
            font-size: 16px;
        }
    }
    &-content {
        margin-top: 3px;
        padding: 0 30px 30px !important;
        p {
            display: flex;
            align-items: center;
        }
    }
}