<div class="mypage-container">
    <div class="mypage-inner">
        <!-- <img
            src="../../../assets/images/logo_white.png"
            alt="StructuralEngine"
            class="logo-structuralengine"
        /> -->
        <div class="page-header">
            <h1 class="page-title">ご請求情報</h1>
            <button
                mat-button
                aria-label="ダッシュボード"
                class="white f-16"
                routerLink="/mypage"
            >
                <b>ダッシュボードへ戻る</b>
                <mat-icon>reply</mat-icon>
            </button>
        </div>
        <mat-card>
            <mat-card-content>
                <div class="plan-info border-1 pa-15 space-between">
                    <div>
                        <div class="bold">現在の購入プラン</div>
                        <div class="mt-10">{{ currentPlan.name }}</div>
                    </div>
                    <div>
                        <div class="bold" *ngIf="hasExpirationDate">有効期限</div>
                        <div class="mt-10" *ngIf="hasExpirationDate">
                            {{
                                currentPlan.expirationStart &&
                                    currentPlan.expirationStart.getFullYear() +
                                        "/" +
                                        (currentPlan.expirationStart.getMonth() +
                                            1) +
                                        "/" +
                                        currentPlan.expirationStart.getDate()
                            }}
                            ~
                            {{
                                currentPlan.expirationEnd &&
                                    currentPlan.expirationEnd.getFullYear() +
                                        "/" +
                                        (currentPlan.expirationEnd.getMonth() +
                                            1) +
                                        "/" +
                                        currentPlan.expirationEnd.getDate()
                            }}
                        </div>
                    </div>
                    <!-- <div>
                        <div class="bold">お支払い方法</div>
                        <div class="mt-10">{{ currentPlan.paymentMethod }}</div>
                    </div> -->
                    <!-- <div>
                        <div class="bold">次回お支払い日</div>
                        <div class="mt-10">
                            {{
                                currentPlan.expirationEnd &&
                                    currentPlan.expirationEnd.getFullYear() +
                                        "/" +
                                        (currentPlan.expirationEnd.getMonth() +
                                            1) +
                                        "/" +
                                        currentPlan.expirationEnd.getDate()
                            }}
                        </div>
                    </div> -->
                    <!-- <div class="text-center">
                        <div class="bold">契約書</div>
                        <div class="mt-5">
                            <button
                                *ngIf="
                                    currentPlan.contractTitle ||
                                    currentPlan.contractUrl
                                "
                                mat-mini-fab
                                color="primary"
                                (click)="openDialog(template)"
                            >
                                <mat-icon>file_open</mat-icon>
                            </button>
                        </div>
                    </div> -->
                </div>
            </mat-card-content>
        </mat-card>
        <!-- <mat-card class="mt-15">
            <mat-card-content>
                <div class="border-1 pa-15">
                    <p class="bold mt-0">お支払い履歴</p>
                    <div class="table-wrapper">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="paymentDay">
                                <th mat-header-cell *matHeaderCellDef>
                                    お支払い日
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{
                                        element.payDate &&
                                            element.payDate.getFullYear() +
                                                "/" +
                                                (element.payDate.getMonth() +
                                                    1) +
                                                "/" +
                                                element.payDate.getDate()
                                    }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="plan">
                                <th mat-header-cell *matHeaderCellDef>
                                    購入プラン
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.plan }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="period">
                                <th mat-header-cell *matHeaderCellDef>
                                    満了日
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{
                                        element.closingDate &&
                                            element.closingDate.getFullYear() +
                                                "/" +
                                                (element.closingDate.getMonth() +
                                                    1) +
                                                "/" +
                                                element.closingDate.getDate()
                                    }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="method">
                                <th mat-header-cell *matHeaderCellDef>
                                    お支払い方法
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.paymentMethod }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef>金額</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.amount }}円
                                </td>
                            </ng-container>
                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card> -->
    </div>
</div>
<ng-template #template>
    <h1 mat-dialog-title>{{ currentPlan.contractTitle }}</h1>
    <div mat-dialog-content>
        <p>{{ currentPlan.contractContent }}</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>閉じる</button>
    </div>
</ng-template>
