<div class="container">
    <div class="container-inner">
        <h1 class="vision">土木事業の三次元化に<br />本気で取り組む</h1>
        <ul class="products">
            <li class="products-item">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title-group>
                            <img
                                mat-card-image
                                src="https://storage.googleapis.com/studio-design-asset-files/projects/G3qbg69EaJ/s-312x303_webp_7d49ad7e-7271-4d8a-8c41-50edd3865514.webp"
                                alt="立体骨組応力解析"
                            />
                            <mat-card-title>立体骨組応力解析</mat-card-title>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content
                        >任意系立体骨組構造物の応力解析を<br />行うプログラム</mat-card-content
                    >
                </mat-card>
            </li>
            <li class="products-item">
                
                <mat-card>
                    <mat-card-header>
                        <mat-card-title-group>
                            <img
                                mat-card-image
                                src="https://storage.googleapis.com/studio-design-asset-files/projects/G3qbg69EaJ/s-284x284_webp_89890372-16f1-4d0e-94fd-4c9da065c804.webp"
                                alt="断面性能照査"
                            />
                            <mat-card-title>断面性能照査</mat-card-title>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content
                        >断面の釣り合い計算および<br />応力度の算定を行うプログラム</mat-card-content
                    >
                </mat-card>
        
            </li>
            <!-- <li class="products-item">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title-group>
                            <img
                                mat-card-image
                                src="https://storage.googleapis.com/studio-design-asset-files/projects/G3qbg69EaJ/s-284x284_webp_c100a3ce-99cd-4c15-b78f-b4f249cfcada.webp"
                                alt="3Dモデルジェネレーター"
                            />
                            <mat-card-title
                                >3Dモデルジェネレーター</mat-card-title
                            >
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content
                        >合成桁のIFCモデルを<br />作成するプログラム</mat-card-content
                    >
                </mat-card>
            </li> -->
        </ul>
    </div>
</div>
